/*css rule*/
/* selector */
/* decleration block*/
/* decleration */
/* property */
/* value */

/* grouping */
h2,
p {
  color: red;
}

/* id */
/* id are unique */
#title {
  color: aquamarine;
  background: black;
}

/* class */

.green {
  color: green;
}
.red {
  color: red;
  background-color: blueviolet;
}

.upercase {
  text-transform: uppercase;
}

spam {
  text-transform: uppercase;
  color: aqua;
}

/* Inheretance*/

body {
  color: blue;
  font-family: monospace;
  line-height: 1.5;
  font-size: 20px;
}

.special {
  color: green;
  font-size: 30px;
}

/* last rule and specificity * universal selector */
/* specificity */
#redid {
  color: red;
}
.specials {
  color: blueviolet;
}
/* last rule */
p {
  color: red;
}

p {
  color: blue;
}

/* * */
* {
  color: brown;
}

/* background & backgrond-color */
/* color names & rgb,rgba.hex*/
/* 
hex values #rrggbb 
123456789ABCDEF
ex:
  #ff0000-red
  #00ff00-green
  #0000ff-blue
*/
.first {
  color: rgb(255, 255, 255);
  background-color: #000;
}

.second {
  color: rgba(255, 0, 0, 0.3);
  background: yellow;
}

/* Pixels - absolute values,one dot on the screen 
font-size 
width - width of an element
height - height of the element
*/

.xp {
  font-size: 60px;
  background: red;
  width: 200px;
  height: 400px;
}

/* percent - relative unit/value - depends on the parent */

.inner {
  width: 50%;
  height: 50%;
  background: red;
}

.outer {
  width: 200px;
  height: 400px;
  background: blue;
}

/* 
  em - relative, depends on parent
  1em-16px browser style
  2em = base value(16px) * 2 = 32px
  2em= base value(10px)*2=10px
 */

.absollute {
  font-size: 32px;
}
.relative {
  font-size: 2em;
}

/* 
  rem - relative,depends on root
  1rem=base value (16px) * number(1)
*/
html {
  font-size: 20px;
}

.absollute2 {
  font-size: 32px;
}
.relative2 {
  font-size: 2rem;
}

/* viewport units
  vh - height - percent  ofn the screen
  vw - width - percentmof the screen 
*/
/* * {
  margin: 0px;
} */
.hero {
  background: green;
  height: 100vh;
  width: 100vw;
}

/* calc()
  perform math operations +-*
  mix and match values
 */
* {
  margin: 0;
}

.navbar {
  background: blue;
  height: 100px;
  color: white;
  font-size: 3em;
}
/* min-height */
.banner {
  background: red;
  min-height: calc(100vh - 6rem);
  max-height: 90vh;
  overflow: scroll;
  overflow: hidden;
}
/* auto & overflow*/
.auto {
  background: green;
  width: 20rem;
  height: 25rem;
  overflow: hidden;
  overflow: scroll;
}

/* font-size  -  size of the fonts 
  font-family - describes the font 
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shizuru&display=swap");

body {
  font-family: sans-serif;
}

.p {
  font-family: "Shizuru", cursive;
  color: rgb(20, 224, 129);
  font-weight: 900;
  /* font-weight:bold; */
  /* font-weight:lighter; */
  font-style: italic;
  font-style: oblique;
  font-style: normal;
}

/* text-align text-indent*/

.p {
  text-align: center;
  text-indent: 6rem;
}

/* 
  line-height - if number * by font-size
  letter-spacing
  word-spacing
  text-transform
  text-decoration
*/
a {
  /* font-size: 3rem; */
  text-decoration: none;
  color: aqua;
}
body {
  line-height: 40px;
  line-height: 2;
}

.h1ss {
  font-size: 50px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.one {
  letter-spacing: 5px;
  text-decoration: overline;
}

.two {
  word-spacing: 10px;
}

.three {
  text-transform: capitalize;
}

/* box model */

/* border, padding , margin , outline*/
.border,
.borderp {
  color: white;
}
/* * {
  margin: 0;
} */
.border {
  background: red;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin: 3rem;
  /* border-style: solid;
  border-width: 10px;
  border-color: chartreuse; */

  /* border-bottom: 10px dotted green; */

  border-bottom-style: double;
  border-bottom-color: aqua;
  border-bottom-width: 20px;
  border-radius: 50%;
}

.borderp {
  background: blue;
  /* padding: 40px; */
  /* padding: 40px 20px; */
  padding: 5px 20px 10px 15px;
  margin-top: -90px;
  margin-top: 90px;
  border: 1rem dashed red;
  border-radius: 50px;
}

.links {
  margin: 3rem;
}

.linkone,
.linktwo {
  background: green;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  color: #222;
  text-transform: uppercase;
  margin: 20px 20px;
}

.linkone {
  border: 0.2rem solid #222;
  outline: 0.2rem solid red;
  outline-offset: -5px;
}

.linktwo {
  outline-width: 0.2rem;
  outline-color: #222;
  outline-style: solid;
  outline-offset: 10px;
}
/* 
  display inline and block
  elements have it set by default
  block: always starts a new line and spans full width
  inline: does not start a new line and spans only content
*/

.block {
  background: blue;
  color: white;
  /* display: inline; */

  /* width: 300px;
  margin: 0 auto; */
}

.inline {
  background: red;
  color: white;
  /* display: block; */
}

/* body {
  text-align: center;
} */

/* navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: red;
  text-decoration: none;
  letter-spacing: 2px;
  background: #222;
  padding: 10px;
  display: block;
}
