/* h1,
p {
  color: white;
  font-size: 50px;
}
body {
  background: black;
}
h1 {
  background: red;
  padding: 20px;
  margin: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 30px;
  margin-bottom: -60px;
}

p {
  background: blue;
  padding: 30px;
  margin: 20px;
  border: 16px dashed white;
  border-radius: 50%;
  margin-top: 60px;
} */
.link {
  margin: 3rem;
}
a {
  background: #689f3f;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  color: #222;
  text-transform: uppercase;
  margin: 0px 20px;
}
#one {
  border: 0.2rem solid #222;

  outline: 0.2rem solid red;
  outline-offset: -5px;
}
#two {
  outline-width: 0.2rem;
  outline-color: #222;
  outline-style: solid;
  outline-offset: 10px;

  border: 0.2rem solid red;
}
